* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Styling for (enter codes below) */

/* Navbar */

/* Landing */

/* Login */

/* Register */

/* Search Flight */

/* Search Flight Results (Departing) */

/* Search Flight Results (Returning) */

/* Confirmation */

/* Booking Confirmed */

/* Dashboard */

/* Manage Booking */

/* Footer */
